# AQHI Null Value Cleaning

### Importing Library

In [13]:
import pandas as pd
import numpy as np
from scipy import stats
import warnings
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

### Load Data

In [14]:
csv_file_path = "C:/Users/Vishruti Avlani/Downloads/AQHI data.csv"
df = pd.read_csv(csv_file_path)

In [15]:
print(df)

                  City        Date  AQHI-H01  AQHI-H02  AQHI-H03  AQHI-H04  \
0      Ottawa Downtown  2022-01-01         3         3         3         3
1      Ottawa Downtown  2022-01-02         2         2         2         2
2      Ottawa Downtown  2022-01-03         2         2         2         2
3      Ottawa Downtown  2022-01-04         4         3         3         3
4      Ottawa Downtown  2022-01-05         3         3         3         3
...                ...         ...       ...       ...       ...       ...
2185  Windsor Downtown  2022-12-27         3         3         3         3
2186  Windsor Downtown  2022-12-28         2         3         3         3
2187  Windsor Downtown  2022-12-29         3         3         3         3
2188  Windsor Downtown  2022-12-30         2         2         2         3
2189  Windsor Downtown  2022-12-31         3         3         3         3

      AQHI-H05  AQHI-H06  AQHI-H07  AQHI-H08  ...  AQHI-H15  AQHI-H16  \
0            3         3         3         3  ...         3         3
1            2         2         2         2  ...         2         2
2            2         2         2         2  ...         2         2
3            3         3         3         3  ...         3         3
4            3         3         3         3  ...         3         3
...        ...       ...       ...       ...  ...       ...       ...
2185         3         3         3         3  ...         3         2
2186         3         3         3         3  ...         3         3
2187         3         2         2         2  ...         3         3
2188         2         2         2         2  ...         3         3
2189         2         2         2         2  ...         2         2

      AQHI-H17  AQHI-H18  AQHI-H19  AQHI-H20  AQHI-H21  AQHI-H22  AQHI-H23  \
0            3         3         3         3         3         3         3
1            2         2         2         2         2         2         2
2            2         2         3         3         3         3         4
3            3         3         3         3         3         3         3
4            3         3         3         4         3         3         3
...        ...       ...       ...       ...       ...       ...       ...
2185         3         3         3         3         3         2         2
2186         3         3         3         3         3         3         3
2187         3         3         3         3         3         3         3
2188         3         3         3         3         3         3         3
2189         2         2         2         2         2         2         2

      AQHI-H24
0            3
1            2
2            4
3            3
4            3
...        ...
2185         2
2186         3
2187         2
2188         3
2189         3

[2190 rows x 26 columns]

In [16]:
df.head()

,City,Date,AQHI-H01,AQHI-H02,AQHI-H03,AQHI-H04,AQHI-H05,AQHI-H06,AQHI-H07,AQHI-H08,...,AQHI-H15,AQHI-H16,AQHI-H17,AQHI-H18,AQHI-H19,AQHI-H20,AQHI-H21,AQHI-H22,AQHI-H23,AQHI-H24
0,Ottawa Downtown,2022-01-01,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
1,Ottawa Downtown,2022-01-02,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
2,Ottawa Downtown,2022-01-03,2,2,2,2,2,2,2,2,...,2,2,2,2,3,3,3,3,4,4
3,Ottawa Downtown,2022-01-04,4,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
4,Ottawa Downtown,2022-01-05,3,3,3,3,3,3,3,3,...,3,3,3,3,3,4,3,3,3,3

### Checking Null-values

In [17]:
df.isnull().sum()

City        0
Date        0
AQHI-H01    0
AQHI-H02    0
AQHI-H03    0
AQHI-H04    0
AQHI-H05    0
AQHI-H06    0
AQHI-H07    0
AQHI-H08    0
AQHI-H09    0
AQHI-H10    0
AQHI-H11    0
AQHI-H12    0
AQHI-H13    0
AQHI-H14    0
AQHI-H15    0
AQHI-H16    0
AQHI-H17    0
AQHI-H18    0
AQHI-H19    0
AQHI-H20    0
AQHI-H21    0
AQHI-H22    0
AQHI-H23    0
AQHI-H24    0
dtype: int64

In [18]:
df.info

<bound method DataFrame.info of                   City        Date  AQHI-H01  AQHI-H02  AQHI-H03  AQHI-H04  \
0      Ottawa Downtown  2022-01-01         3         3         3         3
1      Ottawa Downtown  2022-01-02         2         2         2         2
2      Ottawa Downtown  2022-01-03         2         2         2         2
3      Ottawa Downtown  2022-01-04         4         3         3         3
4      Ottawa Downtown  2022-01-05         3         3         3         3
...                ...         ...       ...       ...       ...       ...
2185  Windsor Downtown  2022-12-27         3         3         3         3
2186  Windsor Downtown  2022-12-28         2         3         3         3
2187  Windsor Downtown  2022-12-29         3         3         3         3
2188  Windsor Downtown  2022-12-30         2         2         2         3
2189  Windsor Downtown  2022-12-31         3         3         3         3

      AQHI-H05  AQHI-H06  AQHI-H07  AQHI-H08  ...  AQHI-H15  AQHI-H16  \
0            3         3         3         3  ...         3         3
1            2         2         2         2  ...         2         2
2            2         2         2         2  ...         2         2
3            3         3         3         3  ...         3         3
4            3         3         3         3  ...         3         3
...        ...       ...       ...       ...  ...       ...       ...
2185         3         3         3         3  ...         3         2
2186         3         3         3         3  ...         3         3
2187         3         2         2         2  ...         3         3
2188         2         2         2         2  ...         3         3
2189         2         2         2         2  ...         2         2

      AQHI-H17  AQHI-H18  AQHI-H19  AQHI-H20  AQHI-H21  AQHI-H22  AQHI-H23  \
0            3         3         3         3         3         3         3
1            2         2         2         2         2         2         2
2            2         2         3         3         3         3         4
3            3         3         3         3         3         3         3
4            3         3         3         4         3         3         3
...        ...       ...       ...       ...       ...       ...       ...
2185         3         3         3         3         3         2         2
2186         3         3         3         3         3         3         3
2187         3         3         3         3         3         3         3
2188         3         3         3         3         3         3         3
2189         2         2         2         2         2         2         2

      AQHI-H24
0            3
1            2
2            4
3            3
4            3
...        ...
2185         2
2186         3
2187         2
2188         3
2189         3

[2190 rows x 26 columns]>

In [19]:
df.describe()

,AQHI-H01,AQHI-H02,AQHI-H03,AQHI-H04,AQHI-H05,AQHI-H06,AQHI-H07,AQHI-H08,AQHI-H09,AQHI-H10,...,AQHI-H15,AQHI-H16,AQHI-H17,AQHI-H18,AQHI-H19,AQHI-H20,AQHI-H21,AQHI-H22,AQHI-H23,AQHI-H24
count,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,...,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000,2190.000000
mean,2.543379,2.500000,2.462100,2.419635,2.381735,2.348402,2.325114,2.325571,2.332877,2.352055,...,2.484018,2.528311,2.564384,2.592237,2.624201,2.653881,2.659817,2.650228,2.629680,2.589954
std,0.773410,0.772855,0.776645,0.762098,0.748646,0.756627,0.764839,0.772668,0.770141,0.782274,...,0.770321,0.781743,0.776665,0.786149,0.793912,0.809842,0.801313,0.797459,0.791305,0.776475
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
max,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,5.000000,6.000000,6.000000,7.000000,...,7.000000,7.000000,6.000000,6.000000,7.000000,7.000000,6.000000,7.000000,6.000000,6.000000

In [20]:
100 - (len(df.dropna())/len(df))*100

0.0

In [21]:
df.fillna(df.mean(numeric_only=True), inplace=True)

### Data Columns, Datatypes & Shape

In [22]:
col = df.columns
print("The different columns are: \n",col)

The different columns are:
 Index(['City', 'Date', 'AQHI-H01', 'AQHI-H02', 'AQHI-H03', 'AQHI-H04',
       'AQHI-H05', 'AQHI-H06', 'AQHI-H07', 'AQHI-H08', 'AQHI-H09', 'AQHI-H10',
       'AQHI-H11', 'AQHI-H12', 'AQHI-H13', 'AQHI-H14', 'AQHI-H15', 'AQHI-H16',
       'AQHI-H17', 'AQHI-H18', 'AQHI-H19', 'AQHI-H20', 'AQHI-H21', 'AQHI-H22',
       'AQHI-H23', 'AQHI-H24'],
      dtype='object')

In [23]:
d_types = df.dtypes
print("The different Data Types are:\n",d_types)

The different Data Types are:
 City        object
Date        object
AQHI-H01     int64
AQHI-H02     int64
AQHI-H03     int64
AQHI-H04     int64
AQHI-H05     int64
AQHI-H06     int64
AQHI-H07     int64
AQHI-H08     int64
AQHI-H09     int64
AQHI-H10     int64
AQHI-H11     int64
AQHI-H12     int64
AQHI-H13     int64
AQHI-H14     int64
AQHI-H15     int64
AQHI-H16     int64
AQHI-H17     int64
AQHI-H18     int64
AQHI-H19     int64
AQHI-H20     int64
AQHI-H21     int64
AQHI-H22     int64
AQHI-H23     int64
AQHI-H24     int64
dtype: object

In [24]:
shape = df.shape
print("The Shape of dataset is: \n",shape)

The Shape of dataset is:
 (2190, 26)

## Conclusion: This data dont have any missing values & it is completely filled